# Dev settings
HOST=0.0.0.0
PORT=18000

DEBUG=true
LOG_LEVEL=DEBUG
LOG_FILE_DIR=./logs
LOG_ROTATION_MAX_SIZE=100MB
LOG_ROTATION_BACKUP_COUNT=30
LOG_PVC_MONITOR_ENABLED=true
LOG_PVC_MONITOR_PATH=./logs
LOG_PVC_MONITOR_THRESHOLD=0.9
LOG_PVC_MONITOR_INTERVAL_SECONDS=300
LOG_PVC_MONITOR_DELETE_BATCH_SIZE=10
LOG_PVC_MONITOR_FILE_SUFFIXES=log,out,err
RAG_STORAGE_DIR=./rag_storage

# DataBase
PGSQL_HOST=localhost
PGSQL_PORT=5432
PGSQL_USER=postgres
PGSQL_PASSWORD=password
PGSQL_DATABASE=datamate

# Label Studio settings
LABEL_STUDIO_BASE_URL=http://localhost:30001

LABEL_STUDIO_USER_TOKEN="demo_dev_token"

DATAMATE_JWT_ENABLE=false

# Milvus settings (Vector Database)
# Development: use localhost
MILVUS_URI=http://localhost:19530
MILVUS_TOKEN=
# Production: use service name
# MILVUS_URI=http://milvus:19530
